<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/js/d3.js"></script>
    <script src="/js/d3.layout.cloud.js"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        <% chartHash = Hash.new([0,0])%>

        <% if @month == 0 && Date.gregorian_leap?(@year)
              numDaysInGraph = 366
            elsif @month == 0
              numDaysInGraph = 365
            elsif @month == 2 && Date.gregorian_leap?(@year)
              numDaysInGraph = 29
            else
              numDaysInGraph = [nil, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][@month]
            end
        %>

        <% num = 0%>
        <% numDaysInGraph.times do
            num = num + 1
            #[num of positive comments, num of negative comments]
            chartHash[num] = [0,0]
         end %>

        <% @moods.each do |mood|%>
            <% time = Time.parse(mood['time'])
            if @month == 0
              day = time.yday
            else
              day = time.day
            end

            if mood['mood'] == '1'
              chartHash[day] = [chartHash[day][0]+1,chartHash[day][1]]
            else
              chartHash[day] = [chartHash[day][0],chartHash[day][1]+1]
            end%>
        <% end%>

        <%charts = chartHash.to_a%>
        <%chart_data = [['Time', 'Positive', 'Negative']]%>

        <%charts.each do |chart|
          chart_data << [chart[0],chart[1][0],chart[1][1]]
        end%>


        var data = google.visualization.arrayToDataTable(<%=chart_data%>);


        var options = {
          colors:['#FF7272','grey'],
          vAxis: { title: "Mood Fluctuations"
                    ,viewWindow: {min: 0}}
          ,hAxis: { title: "Days of the Month"
                    ,ticks: <%if @month != 0%>[{v:1,f:"1"},{v:7,f:"7"},{v:14,f:"14"},{v:21,f:"21"},{v:28,f:"28"}]
                    <%else%>
                    [{v:1,f:"Jan"},{v:32,f:"Feb"},{v:60,f:"Mar"},{v:91,f:"Apr"},{v:121,f:"May"},{v:152,f:"Jun"},{v:182,f:"Jul"},{v:213,f:"Aug"},{v:244,f:"Sep"},{v:274,f:"Oct"},{v:305,f:"Nov"},{v:335,f:"Dec"}]
                    <%end%>
                  }
        };


        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
      <div class="row" id="header-row">
          <div class='large-4 columns'>
            <h1><a href="/monolog">Monolog</a></h1>
          </div>

          <div class='large-8 columns'>
            <% if @month != 0 %>
            <a href="/monolog/mood_analyzer?year=<%if @month != 1%><%=@year%>&month=<%=@month-1%>
              <%else%><%=@year-1%>&month=<%=12%><%end%>" class = 'small button right' style="width: 100px"  type="button">Previous Month
            </a>

            <a href="/monolog/mood_analyzer?year=<%if @month != 12%><%=@year%>&month=<%=@month+1%>
              <%else%><%=@year+1%>&month=<%=1%><%end%>"
              class = 'small button right' style="width: 100px" type="button">Next Month
            </a>

            <a href="/monolog/mood_analyzer?year=<%=@year%>&month=0" class = 'small button right' style="width: 100px"  type="button">Year View</a>
            <% end %>

              <% if @month == 0 %>
              <a href="/monolog/mood_analyzer?year=<%=@year-1%>&month=0" class='button' type="button" style="width: 100px">Previous Year</a>
              <a href="/monolog/mood_analyzer?year=<%=@year+1%>&month=0" class='button' type="button" style="width: 100px">Next Year</a>
              <% end %>
            </div>
          </div>
        <hr/>
      </div>
</div>

  <div class='row'>
   <div class = "chart">
    <h3 align="center">My Mood in <%
      current_month = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][@month] %>
      <% if current_month != "" %>
        <%= current_month + ", " + @year.to_s%>
      <% else %>
        <%= @year.to_s%>
      <% end %>
    </h3>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </div>
  </div>

  <div class = "row">
    <div class="large-5 large-centered columns">
       <script src="/js/wordCloud.js"></script>
    </div>
  </div>

    <footer class="large-12 large-centered columns">
    <div class="large-1 columns">
          <p>Contact</p>
    </div>
    <div class="large-1 columns">
          <p>About</p>
    </div>
    <div class="large-8 columns">
    </div>
  </footer>

  </body>
</html>

